body    {  
    background-color: #000000;  
    color:springgreen;
}  

font{
    color:green;
}

a {
    color:springgreen;
}

h1{
    color:springgreen;
}

h2, h3, code, pre{
    color:springgreen;
}

ul, ol{
    color:springgreen;
}